circle          BITMAP "assets\images\icon\circle.bmp"
line            BITMAP "assets\images\icon\line.bmp"
line.ray        BITMAP "assets\images\icon\line.ray.bmp"
line.segment    BITMAP "assets\images\icon\line.segment.bmp"
point           BITMAP "assets\images\icon\point.bmp"
select          BITMAP "assets\images\icon\select.bmp"
viewport.drag   BITMAP "assets\images\icon\viewport.drag.bmp"