circle          BITMAP "assets\images\icons\circle.bmp"
line            BITMAP "assets\images\icons\line.bmp"
line.ray        BITMAP "assets\images\icons\line.ray.bmp"
line.segment    BITMAP "assets\images\icons\line.segment.bmp"
point           BITMAP "assets\images\icons\point.bmp"
select          BITMAP "assets\images\icons\select.bmp"
viewport.drag   BITMAP "assets\images\icons\viewport.drag.bmp"