Solution {
  points: {
    Id(0, 0): Vec2 { x: -2.0, y: 0.0 },
    Id(1, 0): Vec2 { x: -1.0, y: 1.0 },
    Id(2, 0): Vec2 { x: 1.0, y: 1.0 },
    Id(3, 0): Vec2 { x: 2.0, y: 0.0 },
    Id(4, 0): Vec2 { x: 0.0, y: 2.0 }
  },
  lines: {
    Id(0, 0): Line { origin: Vec2 { x: -2.0, y: 0.0 }, direction: Vec2 { x: 0.7071067811865475, y: 0.7071067811865475 } },
    Id(1, 0): Line { origin: Vec2 { x: 2.0, y: 0.0 }, direction: Vec2 { x: -0.7071067811865475, y: 0.7071067811865475 } },
    Id(2, 0): Line { origin: Vec2 { x: -2.0, y: 0.0 }, direction: Vec2 { x: 1.0, y: 0.0 } },
    Id(3, 0): Line { origin: Vec2 { x: 0.0, y: 2.0 }, direction: Vec2 { x: 1.0, y: 0.0 } }
  }
}